/* class="translations" */
@media (min-width: 1000px) {
    .translations {
        width: 60%;
    }
}

@media (max-width: 1000px) {
    .translations {
        width: 80%;
        margin-bottom: 50px;
    }
}

@media (max-width: 670px) {
    .translations {
        width: 100%;
    }
}

/* class="video_indexsec2" */
@media (min-width: 1000px) {
    .index-sec2 {
        width: 60%;
    }
}

@media (max-width: 1000px) {
    .index-sec2 {
        width: 80%;
        margin-bottom: 50px;
    }
}

@media (max-width: 670px) {
    .index-sec2 {
        width: 90%;
    }
}

