header {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
    background-color: lightgray;
    color: black;
}
header .headline{
    font-size: 32px;
}
.nav-list {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
}
.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

h1{
    text-align: center;
    background-color: pink;
}

.bugfix {
    background-color: orange;
}

.legacy {
    background-color: darkred;
    color: white;
}

.modern {
    background-color: darkblue;
    color: white;
}

.unimplemented {
    background-color: purple;
    color: white;
}

.final {
    padding-bottom: 10px;
}

.last {
    background-color: lightgreen;
    padding-top: 20px;
    text-align: center;
    margin: 0;
}

.copyright {
    text-align: center;
    background-color: lightblue;
    padding-top: 10px;
    margin: 0;
}